*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  font-family: 'Chakra Petch', sans-serif;
}
.bug {
  background-color: #A6B91A;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.bug:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.dragon{
  background-color: #6F35FC;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.dragon:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.fairy{
  background-color: #D685AD;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.fairy:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.fire{
  background-color: #EE8130;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.fire:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.ghost{
  background-color:#735797;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.ghost:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.ground{
  background-color:#E2BF65;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.ground:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.normal{
  background-color: #A8A77A;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.normal:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.psychic{
  background-color: #F95587;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.psychic:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.steel{
  background-color: #B7B7CE;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.steel:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.dark{
  background-color: #705746;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.dark:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.electric{
  background-color: #F7D02C;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.electric:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.fighting{
  background-color: #C22E28;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.fighting:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.flying{
  background-color: #A98FF3;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.flying:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.grass{
  background-color: #7AC74C;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.grass:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.ice{
  background-color: #96D9D6;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.ice:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.poison{
  background-color: #A33EA1;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.poison:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.rock{
  background-color: #B6A136;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.rock:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.water{
  background-color: #6390f0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.water:hover{
  transform:scale(1.3);
  font-style: italic;
  border-radius: 20px;
  color: white;
  transition: transform 1s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


/* 320px — 480px: Mobile devices */
@media only screen and (max-width: 480px){
  .bug {
    background-color: #A6B91A;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .dragon{
    background-color: #6F35FC;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .fairy{
    background-color: #D685AD;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .fire{
    background-color: #EE8130;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding:7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }

  .ghost{
    background-color:#735797;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .ground{
    background-color:#E2BF65;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .normal{
    background-color: #A8A77A;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .psychic{
    background-color: #F95587;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .steel{
    background-color: #B7B7CE;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .dark{
    background-color: #705746;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .electric{
    background-color: #F7D02C;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .fighting{
    background-color: #C22E28;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .flying{
    background-color: #A98FF3;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .grass{
    background-color: #7AC74C;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .ice{
    background-color: #96D9D6;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .poison{
    background-color: #A33EA1;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .rock{
    background-color: #B6A136;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
  .water{
    background-color: #6390f0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 7px 7px;
    padding: 7px 10px;
    border-radius:6px;
    cursor:pointer;
    font-weight: bold;
    border: 0;
  }
}