*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
  font-family: 'Chakra Petch', sans-serif;
}
.bug {
  background-color: #A6B91A;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.dragon{
  background-color: #6F35FC;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.fairy{
  background-color: #D685AD;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.fire{
  background-color: #EE8130;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.ghost{
  background-color:#735797;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.ground{
  background-color:#E2BF65;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.normal{
  background-color: #A8A77A;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.psychic{
  background-color: #F95587;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.steel{
  background-color: #B7B7CE;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.dark{
  background-color: #705746;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.electric{
  background-color: #F7D02C;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.fighting{
  background-color: #C22E28;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.flying{
  background-color: #A98FF3;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.grass{
  background-color: #7AC74C;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.ice{
  background-color: #96D9D6;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.poison{
  background-color: #A33EA1;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.rock{
  background-color: #B6A136;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
.water{
  background-color: #6390F0;
  font-size: 14px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px 10px;
  padding: 10px;
  border-radius:6px;
  cursor:pointer;
  font-weight: bold;
  border: 0;
}
