.body{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    width: 100%;
    
}
.body h3{
    margin: 50px 0px 20px 0px;
}  
.span{
    width: 100%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 3px 3px 3px black;
}
input.searchBar{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    padding: 0 20px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(201, 201, 201);
    font-weight: 600;
}
.searchBar::placeholder{
    color: rgb(201, 201, 201);
    font-weight: 600;
    font-size: 16px;
}
.searchBar:focus{
    font-weight: 600;
    font-size: 18px;
    color: #CC0000;
}
button.clickSearch{
    padding: 0 40px;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    outline: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    background-color: #CC0000;
}
.clickSearch:hover{
    background: rgb(0, 145, 255);
    color: white;
    -webkit-box-shadow: inset 2px 2px 5px rgb(255, 255, 255);
     -moz-box-shadow: inset 5px 5px 5px rgb(255, 255, 255);
          box-shadow: inset 2px 2px 5px rgb(255, 255, 255);
    outline: none;
    font-weight: 600;
    border-radius: 12px;
    transform: scale(1.15);
}
.clickSearch:active{
    background: rgb(74, 177, 255);
}
.pokemonData h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px auto;
    margin-right: 0px auto;
}
.pokemonResult .searchResult{
    width: 50% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0px auto;
    margin-right: 0px auto;
}
.searchResult img{
    align-items: center;
    width: 180px;
    margin:10px 0px auto;
}
div.pokemonResult{
    margin: 60px auto;
    padding: 20px;
    width: 600px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 3px 3cap 3px;
}
.errorHandle{
    padding: 40px;
    width: fit-content auto;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.errorHandle button{
    padding: 20px 20px 10px 20px;
    font-size: 20px;
    font-weight: 600;
    font-style: oblique;
    margin: 0px 0px 60px 0px auto;
    color: #000000;
    background-color: white;
    border-radius: 12px;
    box-shadow: 3px 3px 3px black;
    width: fit-content;
    cursor: pointer;
}
.errorHandle .logo{
    position: relative;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 22.5px;
}
.errorHandle button:hover{ 
    outline: none;
    font-weight: 600;
    border-radius: 12px;
    transform: scale(1.3);
    transition: 0.5s;
    box-shadow: 5px 5px 5px black;
    
}
button .logo:hover{
    transform: scale(1.7);
    transition: transform 0.5s;
    background-color: aqua;
}
.errorHandle button:active{ 
    background-color: rgb(74, 177, 255);
    box-shadow: 5px 5px 5px black;
    color: white;
    border-radius: 20px;
}